<!DOCTYPE html>
<html>
<head>
  <title>WeatherOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">

      <%= link_to "Arduino Weather", root_path, class: "navbar-brand", onclick:"location.reload()" %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Today", today_path %></li>
        <li><%= link_to "Yesterday", yesterday_path %></li>
        <li><%= link_to "Last Month", this_month_path %></li>
        <li><%= link_to "Last Year", this_year_path %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>Arduino Weather</h1>
    <p>This is a web page that is presenting data from arduino sensors.</p>
    <%= link_to  "Show The Latest Record", root_path,  class: "btn btn-info" %>
  </div>
  <div class="row">
    <div class="col-sm-8" id="data_content">
      <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>">
            <%= message %>
          </div>
      <% end %>
        <%= image_tag "loadingGif.gif", id: "loading_gif", hidden:"hidden" %>
      <%= yield %>
    </div>

    <div class="col-sm-4">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">Search for weather from any city around the world</div>
          <div class="panel-body">
              <form class="navbar-form">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" name="q" id="city_name">
                  <div class="input-group-btn">
                    <button class="btn btn-default"  id="loadjson"><i class="glyphicon glyphicon-search"></i></button>
                  </div>
                </div>
                <h6>Powered by openweathermap API</h6>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">© 2015 - Site Built By Darglk
    </p>
  </div>


</div>
</body>
</html>
